body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #fceff5;
    color: #333;
    background-image: url(background.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 300px;
    margin: 0 auto;
    padding: 215px;
  }
  
  h1 {
    color: #ff0099;
  }
  
  p {
    line-height: 1.6;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #db4ba29d;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #273beb80;
  }
  